body {
	background-color:#d8d8d8;
      }
.card_container{
	background-color:#F5F5F5;
                 }
.main_card_container{
        display:flex;
	position:relative;
	flex-direction:column;
	justify-content:center; 
	align-items: center;
	}
img {	height:30px;
	width:30px;
	padding:10px;
 }
h6{ 	margin:0;
   	 padding:5px;}
.card{ 
	width:235px;
	height:350px;
       }
.mobile_nav{
	display:flex;
	align-items:center;
	}

.employee{text-align:center;
	color:#d8d8d8;
	position:absolute;
	top:80px;
	left:25%;
	right:25%;
	}
.employee_number{
	text-align:center;
	margin:0;
	font-size:70px;
	color:#2974FA;
	position:absolute;
	top:90px;
	left:25%;
	right:25%;
	bottom:0px;
	}
.Active{text-align:center;
	padding:10px;
	color:#d8d8d8;
	}
.Messages{	text-align:center;
		padding:10px;
		color:#d8d8d8;
	}
button[type=button]{	background-color:#2974fa;
			border:none;
			border-radius: 3px;
			width:190px;
			height:40px;
			color:white;
			box-sizing:border-box;
			font-size:12px;
			padding:10px;

			}
.in_laptop{	display:none;}
nav{		display: none;}
.email{		padding:10px;}
.side_by_side{ display:flex; 
		justify-content: center;
		position:absolute;
		top:200px;
		left:25%;
		right:25%;
		background-color:white;
		}
.Button{	position:absolute;
		top:290px;
		text-align:center;
		}
p{	font-size:28px;}
.icon{	text-align:center;}
i{	color:#d8d8d8;
	font-size:500px;
	}
.material-icons.md-100 { font-size: 120px;
			position:absolute;
			top:80px;
			right:10%;
			color:#d8d8d8; 
			}

.user-view{ 	background-color:#d8d8d8;}
.material-icons {	color:black;
			padding:40px;
			margin-bottom:-8px;
			}
@media only screen and (min-width: 600px) {
  /* For desktop: */
  .main_card_container{
                 	display:flex;
			position:relative;
			flex-direction:row;
			justify-content:center; 
			 align-items: center;}
.card{ 	width:235px;
	height:350px;
	margin:20px;
	box-shadow:none;
       }
.card_container{background-color:#F5F5F5;
		height:600px;
		width:90%;
		position:absolute;
		top:10%;
		bottom:25%;
                 }
div.sidenav_trig{ display:none;}
.sidenav-trigger{ display:none;}
nav{	display: block;
	width:101.9%;
	margin-right:0px;
	box-shadow:none;
	margin-left:-11px;
	background-color:white;
	}
.nav-wrapper{color:black;}
.responsive-img{height:75px;
		width:75px;
		margin-right:10px;}
.list{	margin-left:200px;}
.brand-logo{	margin-left:40px;}
li.active a{    color:#2974fa;
		background-color:#f5f5f5;  }
.in_laptop{	display: block;
		margin-left:40px;}
.in_mobile{	display:none;}
}